h1{
  padding-top: 80px;
  }
.box{
    position: relative;
  }
  
  .main{
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 0;
    left: 0;
  }
  
  .box img{
    width: 100%;
      }