<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>くりかえし浴</title><!--ブラウザのタブのタイトルを指定-->
  </head>

  <body>
        <h1 class="bigheader-kihonhen">
            くりかえし浴<br/>
            熱いサウナに長めにくりかえし入浴する　水風呂なし、サウナ上段（90℃）</h1>

            <div class="box">
            <img src="/assets/al-butler-9dU6xIfYDJU-unsplash.jpg" alt=">
            </div>
        <div class="intro-kihonhen">
        <ul>
            <li>まず風呂でよく温まる</li>
            <li>高温サウナに10〜15分入浴→休憩→高温サウナに最初より短時間入浴する</br>
            …このセットを入浴時間をだんだん短くしながら3・4回繰り返し、よく汗を出す</li>
        </ul>
        </div>

        <div class="kurikaesiyoku">

          <h2 class="target">
             対象と解説</h2>
          
          <h3 class="kaisetsu">
             ダイエット（落汗減量）</h3>

             皮下脂肪の多い肥満の方は、汗が出にくいので、サウナに入る前にお風呂に入ってしっかりと体を温めておくと、より効果的。</br>
             水風呂や冷水シャワーはさけて、よく汗を出すことがポイント。</br>
             皮膚から1mlの汗が気化するときには、0.58キロカロリーの熱量を奪うので、よく汗を出せばその分体重も減る。</br>
             しかしそれは一時的なことで、日常の適度な運動とほどよい食事の取り方が大事。

        </div>



        <%= link_to "トップに戻る", saunas_top_path %>

        <input id="copyTarget" type="text" value="https://totonoi-4hj1.onrender.com/saunas/three" readonly>
        <button onclick="copyToClipboard()">Copy URL</button>

        <script>
        function copyToClipboard() {
            // コピー対象をJavaScript上で変数として定義する
            var copyTarget = document.getElementById("copyTarget");

            // コピー対象のテキストを選択する
            copyTarget.select();

            // 選択しているテキストをクリップボードにコピーする
            document.execCommand("Copy");

            // コピーをお知らせする
            alert("コピーできました！ : " + copyTarget.value);
        }
    </script>
  </body>
</html>